<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">

{{#if @blog.logo}}
	
	 <div class="logo-wrapper">
		<a href="{{@blog.url}}">
			<img  class="logo" src="{{@blog.logo}}" alt="{{@blog.title}}">
		</a>
	</div>

{{/if}}

{{#if @blog.title}}<a id="blog-title" href="{{@blog.url}}"><h1 class="blog-title">{{@blog.title}}</h1></a>{{/if}}

<div class="blog-description">
	<a href="{{@blog.url}}">{{@blog.description}}</a>
</div>
</header>