{{!< default}}
<div class="main-wrapper">
	<main class="main" role="main">
		
		{{#foreach posts}}
			<article class="article" role="article">
				<header class="postheader">
					<h2 class="posttitle"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h2>
					<p><time class="date" datetime="{{date format="MM-DD-YYYY"}}">{{date format="MM-DD-YYYY"}}</time></p>
				</header>
				<div class="postcontent">
					{{excerpt}}
				</div><!--end Postcontent-->
				<p class="read-more"><a href="{{{url}}}" rel="bookmark">Read More</a></p>
				{{#if tags}}
				 <div class="postags">
				 	tags: {{tags seperator=" | "}}
				 </div>
				{{/if}}
			</article>
		{{/foreach}}
		
		{{#if pagination}}
			<div class="pagination">
				{{{pagination}}}
			</div>
		{{/if}}
	</main>
</div><!--end main wrapper-->
